---
import Layout from "../layouts/Layout.astro";
import Breadcrumb from "../components/ui/common/breadcrumb.astro";
import Teams from "../components/ui/team.astro";

---

<Layout title="Team">
  <Breadcrumb page={"Our Team"} />
 <Teams page={"team"}/>
  </div>
</Layout>
