---
const { title } = Astro.props;
---

<div class="zubuz-cta-section blue-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-lg-2 d-flex align-items-center">
        <div class="zubuz-default-content light">
          <h2>{title}</h2>
          <div class="zubuz-extara-mt">
            <div class="zubuz-app-wrap">
              <a class="zubuz-default-btn !tw-btn-secondary" aria-label="CTA btn" href="/contact"
                >Marque um bate-papo para saber mais!</a
              >
              <div class="zubuz-cta-shape">
                <img src="/assets/images/v1/shape2.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="zubuz-cta-thumb">
          <img src="assets/images/v1/cta-mocup.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
