---
const {title,btn}=Astro.props
---

<div class="section zubuz-section-padding dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="zubuz-default-content cta light">
          <h2>{title}</h2>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="zubuz-title-btn">
          <a class="zubuz-default-btn" href="/contact">
            <span>Contact Us</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
