---
const { title } = Astro.props;
---

<div class="section zubuz-section-padding5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 order-lg-2">
        <div class="zubuz-thumb thumb-pl">
          <img src="assets/images/v1/mocup2.png" alt="" />
          <div class="zubuz-thumb-card2">
            <img src="assets/images/v1/card2.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex align-items-center">
        <div class="zubuz-default-content">
          <h2>{title}</h2>
          <p>
            Easily link their bank accounts & credit cards to view account
            balances, monitor transactions and receive alerts for unusual
            activity.
          </p>
          <div class="zubuz-extara-mt">
            <div class="zubuz-iconbox-wrap-left">
              <div class="zubuz-iconbox-icon">
                <img src="assets/images/v1/icon1.png" alt="" />
              </div>
              <div class="zubuz-iconbox-data">
                <span>Saving & Goal Setting</span>
                <p>
                  Easily set money aside and build your savings for the future
                  plan and track your financial goals.
                </p>
              </div>
            </div>
            <div class="zubuz-iconbox-wrap-left">
              <div class="zubuz-iconbox-icon">
                <img src="assets/images/v1/icon2.png" alt="" />
              </div>
              <div class="zubuz-iconbox-data">
                <span>Credit Score Monitoring</span>
                <p>
                  Our finance app provides credit score monitoring to help users
                  monitor their credit health.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
