---
import FeatureCard from "./common/FeatureCard.astro";
const { title, data } = Astro.props;
---

<div class="section zubuz-section-padding3 bg-light">
  <div class="container">
    <div class="zubuz-section-title center">
      <h2>{title}</h2>
    </div>
    <div class="row">
      {data?.map((card) => <FeatureCard {...card} />)}
    </div>
  </div>
</div>
