---
const { title } = Astro.props;
---

<div class="section zubuz-section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="zubuz-thumb thumb-pr">
          <img src="assets/images/v1/mocup01.png" alt="" />
          <div class="zubuz-thumb-card">
            <img src="assets/images/v1/card1.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex align-items-center">
        <div class="zubuz-default-content">
          <h2>{title}</h2>
          <p>
            O Edify é o único que utiliza tecnologia e IA para garantir resultados pedagógicos.  Nosso método gera dados claros sobre o desenvolvimento dos alunos, fazendo com que o aprendizado seja comprova e visível para todos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
