---

---

<div class="zubuz-preloader-wrap">
  <div class="zubuz-preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<script>
  setTimeout(function () {
    var preloader = document.querySelector(
      ".zubuz-preloader-wrap"
    ) as HTMLElement;
    if (preloader) {
      preloader.style.transition = "opacity 0.5s";
      preloader.style.opacity = "0";
      setTimeout(function () {
        preloader.style.display = "none";
      }, 500);
    }
  }, 0);
</script>
