---
import RatingsCard from "./common/RatingsCard.astro";
const { title, data } = Astro.props;
const pathname = Astro.url.pathname;
---

<div class="section zubuz-section-padding2 bg-light">
  <div class="container">
    <div class="zubuz-section-title">
      <h2>{title}</h2>
    </div>
    <div class="row">
      {data?.map((card) => <RatingsCard {...card} />)}
    </div>
    {
      pathname !== "/testimonial" && pathname !== "/testimonial/" && (
        <div class="zubuz-testimonial-btn">
          <a class="zubuz-default-btn" href="/testimonial">
            <span>Marque uma conversa e <br/> conheça mais sobre o Edify</span>
          </a>
        </div>
      )
    }
  </div>
</div>
